{% extends 'base-back.html.twig' %}

{% block title %}SallesDesFetes{% endblock %}

                 {% block content %}
    <h1>SallesDesFetes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ salles_des_fete.id }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ salles_des_fete.prix }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="{{ asset ('upload/'~ salles_des_fete.photo)  }}"></td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ salles_des_fete.nom }}</td>
            </tr>
            <tr>
                <th>Pack</th>
                <td>{{ salles_des_fete.pack }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_salles_des_fetes_index') }}">back to list</a>

    <a href="{{ path('app_salles_des_fetes_edit', {'id': salles_des_fete.id}) }}">edit</a>

    {{ include('salles_des_fetes/_delete_form.html.twig') }}
{% endblock %}
