{% extends 'base-back.html.twig' %}

{% block title %}CarteInvitation index{% endblock %}

                 {% block content %}
    <h1>CarteInvitation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prix</th>
                <th>Photo</th>
                <th>Decription</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for carte_invitation in carte_invitations %}
            <tr>
                <td>{{ carte_invitation.id }}</td>
                <td>{{ carte_invitation.prix }}</td>
                <td><img src="{{ asset ('uploads/'~ carte_invitation.photo)  }}" style="width:80px;height: 50px"></td>
                <td>{{ carte_invitation.decription }}</td>
                <td>
                    <a href="{{ path('app_carte_invitation_show', {'id': carte_invitation.id}) }}"type="button" class="btn btn-primary waves-effect waves-light">show</a>
                    <a href="{{ path('app_carte_invitation_edit', {'id': carte_invitation.id}) }}"type="button" class="btn btn-success waves-effect waves-light">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_carte_invitation_new') }}"type="button" class="btn btn-primary waves-effect waves-light">Create new</a>
{% endblock %}
