{% extends 'base-back.html.twig' %}

{% block title %}CarteInvitation{% endblock %}

                 {% block content %}
    <h1>CarteInvitation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carte_invitation.id }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ carte_invitation.prix }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="{{ asset ('upload/'~ carte_invitation.photo)  }}"></td>
            </tr>
            <tr>
                <th>Decription</th>
                <td>{{ carte_invitation.decription }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_carte_invitation_index') }}">back to list</a>

    <a href="{{ path('app_carte_invitation_edit', {'id': carte_invitation.id}) }}">edit</a>

    {{ include('carte_invitation/_delete_form.html.twig') }}
{% endblock %}
